@model RegisterDto
@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Teacher Management</title>
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
	<link rel="stylesheet" type="text/css" href="~/colorlib-regform-32/css/nunito-font.css">
	<!-- Main Style Css -->
	<link rel="stylesheet" href="~/colorlib-regform-32/css/style.css" />
</head>
<body class="form-v6">
	<div class="page-content">
		<div class="form-v6-content">
			<div class="form-left">
                <img src="~/colorlib-regform-32/images/ders.jpg" style="width:484px; height:584px" />
			</div>
            <form class="form-detail" method="post">
                <h2>Yeni Kullanıcı Kaydı</h2>

                @if (ViewBag.ErrorMessage != null)
                {
                    <div class="alert alert-danger">
                        @ViewBag.ErrorMessage
                    </div>
                }

                <div class="form-row">
                    <input type="text" id="full-name" class="input-text" placeholder="Adınız Soyadınız" required asp-for="NameSurname">
                    @Html.ValidationMessageFor(model => model.NameSurname)
                </div>
                <div class="form-row">
                    <input type="text" id="your-email" class="input-text" placeholder="Email  Addresiniz" asp-for="Email" required pattern="[^@@]+@@[^@@]+.[a-zA-Z]{2,6}">
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
                <div class="form-row">
                    <input type="password" id="password" class="input-text" placeholder="Şifreniz" asp-for="Password" required>
                    @Html.ValidationMessageFor(model => model.Password)
                </div>

                <div class="form-row-last">
                    <input type="submit" name="register" class="register" value="Kayıt Oluştur">
                </div>
            </form>

		</div>
	</div>
</body>
</html>