@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz</h1>
    <div>
        <a class="btn btn-outline-primary" asp-area="" asp-controller="Account" asp-action="Login">Giriş Yapınız</a>
    </div>

    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
